@font-face {
    font-family: 'Vazir';
    src: url('../../assets/fonts/Vazir-Black.eot');
    src: local('Vazir Black'), local('Vazir-Black'),
        url('../../assets/fonts/Vazir-Black.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Vazir-Black.woff2') format('woff2'),
        url('../../assets/fonts/Vazir-Black.woff') format('woff'),
        url('../../assets/fonts/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vazir';
    src: url('../../assets/fonts/Vazir-Black_1.eot');
    src: local('Vazir Black'), local('Vazir-Black'),
        url('../../assets/fonts/Vazir-Black_1.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Vazir-Black_1.woff2') format('woff2'),
        url('../../assets/fonts/Vazir-Black_1.woff') format('woff'),
        url('../../assets/fonts/Vazir-Black_1.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vazir';
    src: url('../../assets/fonts/Vazir-Bold.eot');
    src: local('Vazir Bold'), local('Vazir-Bold'),
        url('../../assets/fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Vazir-Bold.woff2') format('woff2'),
        url('../../assets/fonts/Vazir-Bold.woff') format('woff'),
        url('../../assets/fonts/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vazir';
    src: url('../../assets/fonts/Vazir-Black_2.eot');
    src: local('Vazir Black'), local('Vazir-Black'),
        url('../../assets/fonts/Vazir-Black_2.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Vazir-Black_2.woff2') format('woff2'),
        url('../../assets/fonts/Vazir-Black_2.woff') format('woff'),
        url('../../assets/fonts/Vazir-Black_2.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vazir';
    src: url('../../assets/fonts/Vazir-Bold_1.eot');
    src: local('Vazir Bold'), local('Vazir-Bold'),
        url('../../assets/fonts/Vazir-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Vazir-Bold_1.woff2') format('woff2'),
        url('../../assets/fonts/Vazir-Bold_1.woff') format('woff'),
        url('../../assets/fonts/Vazir-Bold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vazir';
    src: url('../../assets/fonts/Vazir-Bold_2.eot');
    src: local('Vazir Bold'), local('Vazir-Bold'),
        url('../../assets/fonts/Vazir-Bold_2.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Vazir-Bold_2.woff2') format('woff2'),
        url('../../assets/fonts/Vazir-Bold_2.woff') format('woff'),
        url('../../assets/fonts/Vazir-Bold_2.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vazir';
    src: url('../../assets/fonts/Vazir-Medium.eot');
    src: local('Vazir Medium'), local('Vazir-Medium'),
        url('../../assets/fonts/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Vazir-Medium.woff2') format('woff2'),
        url('../../assets/fonts/Vazir-Medium.woff') format('woff'),
        url('../../assets/fonts/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vazir';
    src: url('../../assets/fonts/Vazir-Regular.eot');
    src: local('Vazir Regular'), local('Vazir-Regular'),
        url('../../assets/fonts/Vazir-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Vazir-Regular.woff2') format('woff2'),
        url('../../assets/fonts/Vazir-Regular.woff') format('woff'),
        url('../../assets/fonts/Vazir-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vazir';
    src: url('../../assets/fonts/Vazir-Regular_1.eot');
    src: local('Vazir Regular'), local('Vazir-Regular'),
        url('../../assets/fonts/Vazir-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Vazir-Regular_1.woff2') format('woff2'),
        url('../../assets/fonts/Vazir-Regular_1.woff') format('woff'),
        url('../../assets/fonts/Vazir-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vazir';
    src: url('../../assets/fonts/Vazir-Regular_2.eot');
    src: local('Vazir Regular'), local('Vazir-Regular'),
        url('../../assets/fonts/Vazir-Regular_2.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Vazir-Regular_2.woff2') format('woff2'),
        url('../../assets/fonts/Vazir-Regular_2.woff') format('woff'),
        url('../../assets/fonts/Vazir-Regular_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vazir';
    src: url('../../assets/fonts/Vazir-Medium_1.eot');
    src: local('Vazir Medium'), local('Vazir-Medium'),
        url('../../assets/fonts/Vazir-Medium_1.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Vazir-Medium_1.woff2') format('woff2'),
        url('../../assets/fonts/Vazir-Medium_1.woff') format('woff'),
        url('../../assets/fonts/Vazir-Medium_1.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vazir';
    src: url('../../assets/fonts/Vazir-Medium_2.eot');
    src: local('Vazir Medium'), local('Vazir-Medium'),
        url('../../assets/fonts/Vazir-Medium_2.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Vazir-Medium_2.woff2') format('woff2'),
        url('../../assets/fonts/Vazir-Medium_2.woff') format('woff'),
        url('../../assets/fonts/Vazir-Medium_2.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vazir';
    src: url('../../assets/fonts/Vazir-Light.eot');
    src: local('Vazir Light'), local('Vazir-Light'),
        url('../../assets/fonts/Vazir-Light.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Vazir-Light.woff2') format('woff2'),
        url('../../assets/fonts/Vazir-Light.woff') format('woff'),
        url('../../assets/fonts/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vazir';
    src: url('../../assets/fonts/Vazir-Light_1.eot');
    src: local('Vazir Light'), local('Vazir-Light'),
        url('../../assets/fonts/Vazir-Light_1.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Vazir-Light_1.woff2') format('woff2'),
        url('../../assets/fonts/Vazir-Light_1.woff') format('woff'),
        url('../../assets/fonts/Vazir-Light_1.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vazir';
    src: url('../../assets/fonts/Vazir-Light_2.eot');
    src: local('Vazir Light'), local('Vazir-Light'),
        url('../../assets/fonts/Vazir-Light_2.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Vazir-Light_2.woff2') format('woff2'),
        url('../../assets/fonts/Vazir-Light_2.woff') format('woff'),
        url('../../assets/fonts/Vazir-Light_2.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vazir Variable';
    src: url('../../assets/fonts/Vazir-Variable.eot');
    src: local('Vazir Variable Regular'), local('Vazir-Variable'),
        url('../../assets/fonts/Vazir-Variable.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Vazir-Variable.woff2') format('woff2'),
        url('../../assets/fonts/Vazir-Variable.woff') format('woff'),
        url('../../assets/fonts/Vazir-Variable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vazir Variable';
    src: url('../../assets/fonts/Vazir-Variable_1.eot');
    src: local('Vazir Variable Regular'), local('Vazir-Variable'),
        url('../../assets/fonts/Vazir-Variable_1.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Vazir-Variable_1.woff2') format('woff2'),
        url('../../assets/fonts/Vazir-Variable_1.woff') format('woff'),
        url('../../assets/fonts/Vazir-Variable_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vazir';
    src: url('../../assets/fonts/Vazir-Thin.eot');
    src: local('Vazir Thin'), local('Vazir-Thin'),
        url('../../assets/fonts/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Vazir-Thin.woff2') format('woff2'),
        url('../../assets/fonts/Vazir-Thin.woff') format('woff'),
        url('../../assets/fonts/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vazir Variable';
    src: url('../../assets/fonts/Vazir-Variable_2.eot');
    src: local('Vazir Variable Regular'), local('Vazir-Variable'),
        url('../../assets/fonts/Vazir-Variable_2.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Vazir-Variable_2.woff2') format('woff2'),
        url('../../assets/fonts/Vazir-Variable_2.woff') format('woff'),
        url('../../assets/fonts/Vazir-Variable_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vazir';
    src: url('../../assets/fonts/Vazir-Thin_1.eot');
    src: local('Vazir Thin'), local('Vazir-Thin'),
        url('../../assets/fonts/Vazir-Thin_1.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Vazir-Thin_1.woff2') format('woff2'),
        url('../../assets/fonts/Vazir-Thin_1.woff') format('woff'),
        url('../../assets/fonts/Vazir-Thin_1.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vazir';
    src: url('../../assets/fonts/Vazir-Thin_2.eot');
    src: local('Vazir Thin'), local('Vazir-Thin'),
        url('../../assets/fonts/Vazir-Thin_2.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Vazir-Thin_2.woff2') format('woff2'),
        url('../../assets/fonts/Vazir-Thin_2.woff') format('woff'),
        url('../../assets/fonts/Vazir-Thin_2.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

